NB_ClientWebServiceCalculator/xml-resources/web-service-references/CalculatorWS/wsdl/localhost_8080/CalculatorWSApplication/CalculatorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://calculator.giodabg.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculator.giodabg.org/">

<xs:element name="Studente" type="tns:Studente" />

<xs:element name="StudenteResponse" type="tns:StudenteResponse" />

<xs:complexType name="Studente">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="cognome" type="xs:string" minOccurs="0" />
<xs:element name="dataNascita" type="xs:string" minOccurs="0" />
<xs:element name="luogoNascita" type="xs:string" minOccurs="0" />
<xs:element name="codiceFiscale" type="xs:string" minOccurs="0" />
<xs:element name="comuneResidenza" type="xs:string" minOccurs="0" />
<xs:element name="viaResidenza" type="xs:string" minOccurs="0" />
<xs:element name="classe" type="xs:string" minOccurs="0" />
<xs:element name="indirizzo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>